body, html {
    background-color: #2d294c;
    color: white;
}

.containerPrincipal {
    width: 55%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 5rem;
}

.titulo > h1 {
    color: #736ab3;
    font-weight: bold;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

.inputsCadastro{
    width: 100%;
    border: none;
}

#senhaErrada {
    color: red;
    font-size: 12px;
}

.naoMostrar {
    display: none;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botao>button {
    background-color: #5e5796 !important;
    width: 25%;
    color: white;
}