body, html {
    background-color: #2d294c;
    color: white;
}

.containerPrincipal {
    width: 50%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 5rem;
}

.titulo>h1 {
    color: #736ab3;
    font-weight: bold;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

#emailInvalido {
    color: red;
    font-size: 12px;
    display: block;
}

.naoMostrar {
    display: none !important;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background-color: #5e5796 !important;
    width: 35%;
    color: white;
}